Nilam_training_cred/pipeline/zzchild_excel.json
{
	"name": "zzchild_excel",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[USP_GETEXCELSHEET]",
						"storedProcedureParameters": {
							"FILENAME": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.excelfilename_pipelinelevel",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(item().EXCELSHEETNAME,'EMP')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data1_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "DEPT_ID",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "DEPTNAME",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "excel_child2",
												"type": "DatasetReference",
												"parameters": {
													"filename_para": {
														"value": "@pipeline().parameters.excelfilename_pipelinelevel",
														"type": "Expression"
													},
													"sheetname_para": {
														"value": "@item().EXCELSHEETNAME",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SqlServerTable3",
												"type": "DatasetReference"
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "ID",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "NAME",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "COUNTRY",
															"type": "String",
															"physicalType": "varchar"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "excel_child2",
												"type": "DatasetReference",
												"parameters": {
													"filename_para": {
														"value": "@pipeline().parameters.excelfilename_pipelinelevel",
														"type": "Expression"
													},
													"sheetname_para": {
														"value": "@item().EXCELSHEETNAME",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SqlServerTable2",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					]
				}
			}
		],
		"parameters": {
			"excelfilename_pipelinelevel": {
				"type": "string",
				"defaultValue": "EMP_INDIA.xlsx"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-24T09:49:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}